/* styles.css */

:root {
    --primary-color: #479a63;
    --secondary-color: #ffffff;
    --button-hover-color: #257b2d;
    --button-pressed-color: #0f5523;
    --button-disabled-color: rgba(71, 154, 99, 0.435);

    --padding-vertical: 20px;
    --padding-horizontal: 20px;

    --button-height-small: 40px;
    --button-height-medium: 48px;
    --button-height-large: 80px;

    --button-width-small: 117px;
    --button-width-medium: 149px;
    --button-width-large: 200px;

    --border-radius: 10px;

    --font-size-small: 20px;
    --font-size-medium: 28px;
    --font-size-large: 40px;

    --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--padding-vertical) var(--padding-horizontal);
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border-radius: var(--border-radius);
  }

  .button-primary {
    background-color: var(--primary-color);
    color: var(--secondary-color);
  }

  .button-secondary {
    background-color: transparent;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
  }

  .button-text {
    background-color: transparent;
    color: var(--primary-color);
  }

  .button-elevated {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    box-shadow: 0 2px 4px rgba(0, 123, 255, 0.2);
  }

  .button-small {
    font-size: var(--font-size-small);
    height: var(--button-height-small);
    width: var(--button-width-small);
  }

  .button-medium {
    font-size: var(--font-size-medium);
    height: var(--button-height-medium);
    width: var(--button-width-medium);
  }

  .button-large {
    font-size: var(--font-size-large);
    height: var(--button-height-large);
    width: var(--button-width-large);
  }

  .button-disabled {
    opacity: 0.5;
    cursor: not-allowed;
    opacity: 0.5;
  }

  .button-primary:hover {
    background-color: var(--button-hover-color);
  }

  .button-secondary:hover {
    background-color: var(--button-disabled-color);
  }

  .button-text:hover {
    background-color: var(--button-disabled-color);
  }

  .button-primary:active {
    background-color: var(--button-pressed-color);
  }
  .button-secondary:active {
    background-color: var(--button-pressed-color);
  }
  .button-text:active {
    background-color: var(--button-pressed-color);
  }
  .button-elevated:active {
    background-color: var(--button-pressed-color);
  }
